<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title class="titulo">Odonto</title>
</head>
<body>
    <!-- HEADER DA PÁGINA -->

    <header class="header">
        <div class="header-container-logo">
            <a href="{% url 'index' %}"><p>Logo</p></a>
        </div>
        <div class="header-container-items">
            <a href="{% url 'login' %}" class="links">LOGIN</a>
            <a href="{% url 'calendario' %}" class="links">AGENDA</a>
            <a href="#" class="links">CONSULTA</a>
        </div>
    </header>

<!-- INFORMAÇÕES INICIAIS -->

{% block content %}

{% endblock %}

{% load static %}
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>